<div>
  <div class="page-header">
    <h1>{{ ::$ctrl.getState() }} Population by County <small class="text-muted h4">as per the 2010 US Census</small></h1>
  </div>

  <div ng-if="$ctrl.status === 'loading'">
    <hr>

    Loading...
  </div>

  <table ng-if="$ctrl.status === 'loaded'" class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">County Name</th>
        <th scope="col">Population</th>
        <th scope="col">Pop. Density</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="county in $ctrl.counties" data-id="{{ county.county }}">
        <td scope="row">{{ county.name }}</td>
        <td>{{ ::$ctrl.formatNumber(county.pop) }}</td>
        <td>{{ ::$ctrl.formatFloat(county.density) }}</td>
      </tr>
    </tbody>
  </table>
</div>