<div>
  <div class="page-header">
    <h1>US Population by State <small class="text-muted h4">as per the 2010 US Census</small></h1>
  </div>

  <hr>

  <div ng-if="$ctrl.status === 'loading'">
    Loading...
  </div>

  <div class="card card-info" ng-if="$ctrl.status === 'loaded'" ng-repeat="state in $ctrl.states">
    <div class="card-header">
      <h3 class="card-title">{{ ::state.name }}</h3>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Population: {{ ::$ctrl.formatNumber(state.pop) }}</li>
      <li class="list-group-item">Population Density: {{ ::$ctrl.formatFloat(state.density) }}</li>
    </ul>

    <div class="card-body">
      <a class="btn btn-primary" href="/#!/states/{{ ::state.state }}">View county data for {{ ::state.name }}</a>
    </div>
  </div>
</div>
