<div>
  <div class="page-header">
    <h1>US Population by State <small>as per the 2010 US Census</small></h1>
  </div>

  <div ng-if="$ctrl.status === 'loading'">
    Loading...
  </div>

  <div class="card card-info" ng-if="$ctrl.status === 'loaded'" ng-repeat="state in $ctrl.states">
    <div class="card-body">
      <h3 class="card-title">{{ ::state[0] }}</h3>
      <div class="card-text">
        <div>Population: {{ ::$ctrl.formatNumber(state[1]) }}</div>
        <div>Population Density: {{ ::$ctrl.formatFloat(state[2]) }}</div>
      </div>
    </div>
  </div>
</div>
